@page
@model BY.RazorWebApp.Pages.BookingDetailPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookingDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookingDetail.BookingDetailId" />
            <div class="form-group">
                <label asp-for="BookingDetail.ScheduleId" class="control-label"></label>
                <select asp-for="BookingDetail.ScheduleId" class="form-control" asp-items="ViewBag.ScheduleId"></select>
                <span asp-validation-for="BookingDetail.ScheduleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDetail.BookingId" class="control-label"></label>
                <select asp-for="BookingDetail.BookingId" class="form-control" asp-items="ViewBag.BookingId"></select>
                <span asp-validation-for="BookingDetail.BookingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDetail.Price" class="control-label"></label>
                <input asp-for="BookingDetail.Price" class="form-control" />
                <span asp-validation-for="BookingDetail.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDetail.Amount" class="control-label"></label>
                <input asp-for="BookingDetail.Amount" class="form-control" />
                <span asp-validation-for="BookingDetail.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDetail.CheckInDate" class="control-label"></label>
                <input asp-for="BookingDetail.CheckInDate" class="form-control" />
                <span asp-validation-for="BookingDetail.CheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDetail.SpecialRequest" class="control-label"></label>
                <input asp-for="BookingDetail.SpecialRequest" class="form-control" />
                <span asp-validation-for="BookingDetail.SpecialRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDetail.GuestQuantity" class="control-label"></label>
                <input asp-for="BookingDetail.GuestQuantity" class="form-control" />
                <span asp-validation-for="BookingDetail.GuestQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDetail.Description" class="control-label"></label>
                <input asp-for="BookingDetail.Description" class="form-control" />
                <span asp-validation-for="BookingDetail.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDetail.Status" class="control-label"></label>
                <select asp-for="BookingDetail.Status" class="form-control">
                    <option value="True">True</option>s
                    <option value="False">False</option>
                </select>
                <span asp-validation-for="BookingDetail.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary" />
                <a class="btn btn-primary" asp-page="./BookingDetail">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
